*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(231, 231, 231);
    color: rgb(0, 0, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
}

nav{
    display: flex;
    
    padding: 2vw;
    margin: 3vw;
    
}
.left{
    
    font-size: 1.5vw;
    width: 50%;
}
.left h1{
    
    color: rgb(0, 0, 0);
}

.right{
    display: flex;
    justify-content: flex-end;
    font-size: 1.5vw;
    width: 50%;
    
}
.right button{
    height: 2.5vw;
    width: 8vw;
    margin-left: 1vw;
    border: none;
    cursor: pointer;
    font-size: 1.5vw;
}

.right button:hover{
    border-color: rgb(0, 128, 128);
    background-color: rgb(0, 128, 128);
    color: white;
    border-radius: 25px;
    border: solid 1 px black;
}
.aboutme{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(231, 231, 231);
    border-radius: 25px;
    margin: 3vw;
    
    /* border: 2px black ; */
    
}


.leftabout{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    padding: 1vw;
    background-color: rgb(231, 231, 231);
}
.leftabout p{
    padding-left: 10vw;
    padding-right: 10vw;
}
.rightabout img{
    width: 30vw;
    background-color: rgb(231, 231, 231);
    
}
.rightabout{
    background-color: rgb(231, 231, 231);
}
.aboutme h1{
    font-size: 2vw;
    
}
.aboutme p{
    justify-content: center;
    align-items: center;
    margin-top: 1vw;
    font-size: 1.5vw;
}
.education{
    
    display: flex;
    /* flex-direction: column; */
    
    /* padding: 3vw; */
    padding-left: 11vw;
    margin: 3vw;
    
}
.education h1{
    font-size: 2vw;
    /* text-align: center; */
    /* padding-right: 11.5vw; */
}
.education h2{
    font-size: 1.5vw;
    padding-bottom: .2vw;
    /* text-align: center; */
    /* padding-right: 11.5vw; */
}
.education li{
    margin: 1vw;
    list-style-type: none;
    
}

.education p{
    font-size: 1.5vw;
    /* text-align: center; */
    /* padding-right: 11.5vw; */
}
.skills{
    margin-left: 10.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding: 3vw; */
    /* margin: 3vw; */
    
}

.skills h1{
    font-size: 2vw;
    padding-bottom: .5vw;
    
}
.skills li{
    font-size: 1.5vw;
   
}
